/* 

h1,
h2 {
    font-family: 'Copse', serif;
}

p {
    font-family: 'Scope One', serif;
}

section {
    background: rgba(255, 255, 255, 0.67);
    margin: 0 auto;
    max-width: 550px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

img#sitelogo {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

select,
button {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 150%;
}

button {
    margin-top: 10px;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    margin-left: 90%;
    margin-top: 10px;
}

*/

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Muli', sans-serif;
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

ol {
    list-style-type:none;
    padding-left: 0px;
    overflow: auto;
}

li {
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.17);
    padding-bottom: 10px;
}

#results,
#details {
    display: none;
}


/*Header*/

.pageTitle{
    border-left: 2px solid white;
    color: white;
    width: 485px;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.64);
    padding-left: 5px;
    
}
    

/*Header end*/

/*Home Section*/
.main-content{
    display: block;
    height: auto;
    width: 500px;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: rgba(0, 0, 0, 0.64);
    height: auto;
    }

a#linkText{
    font-family: 'Muli', sans-serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
}
buttonText {
    
    display: block;
    width: 75%;
    position: relative;
    float: left;
    }




#locateIcon {
    height: auto;
    width: 25%;
    position: relative;
    float: right;
}

section#home{
    height: auto;
    
  }

.appDescription {
    border-left: 2px solid white;
    color: white;
    width: 485px;
    
    background-color: rgba(0, 0, 0, 0.64);
    padding-left: 5px;
    
    }

button, select {
    text-transform: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #332e2e;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select {
    width: 280px;
}

/*Homesection end*/

/*Results Section*/

section#results{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.64);
    color: white;
    padding: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: 5%;
    
}

resultsSection li{
    border-top: 2px solid white;
}

.resultsDescription {
    float: right;
    max-width: 220px;
    margin-top: 0;
}

/*Database results information containers*/

ol li img {
    width: 40%;
    height: auto;
    float: right;
}

ol li h2 {
    float: left;
    height: 100%;
    line-height: 100%;
    margin-bottom: 0;
    margin-top: 8%;
    margin-left: 13%;
}

#map {
    width: 100%;
    height: 30rem; /* experiment with different heights */
    display: none;
    
}




/*End*/

/*Details Section*/
section#details {
   
    
}
/*End*/

/*Mapbox stuff*/

.marker {
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.6);
  transform: translate(10px, 20px, 0);
}

.marker.user {
    background-color: crimson;
}

/*End*/


.smallText{
    color: white;
    font-size: 1.5em;
    
}

.bigText {
    color: white;
    font-size: 2em
}

.darkBackground{
   
    
}

